.container {
    width: 80%;
    margin: 130px auto;
}


.row {
    margin: 40px 0px;
}

.discount:after {
    content: '%';
}

.product {
    position: relative;
    display: inline-block;
}

.product .discount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
}

.product .discount.discount-red {
    background-color: red;
}

.heart {
    color:red;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    visibility: hidden;
}

.product:hover .heart {
    visibility: visible;
}


#blackfriday {
    position: fixed;
    height: 100px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 100px;    
    width: 100%;
    top: 0;
    z-index: 1;
}